body{
  background-image: url("bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
}

.content{
  background-color: white;
  width: 80%;
  margin: 70px auto;
  padding: 15px;
}
.logo{
  margin: 0;
  float: left;
  color: #B50494;
  margin-left: 15px;
  font-weight: bold;
  font-size: 20px;
   
}
nav ul li{
  list-style: none;
  display: inline;
  margin: 0 20px;
   
  transition: 0.5s;
}
nav ul li:hover{
  color: #B50494;
}
nav ul{
  text-align: right;
  margin-left: 0;
  padding-left: 0;
}

img{
  float: right;
  margin: 15px;
}
.clr{
  clear: both;
}
h1{
  margin: 100px 25px;
  margin-bottom: 60px;
  font-size: 70px;
  color: gray;
}

p{
   
  font-size: 18px;
  font-weight: 300;
  margin-left: 25px;
  color: gray;
}

button{
  padding: 15px 25px;
  background: linear-gradient(90deg,#B50494,#B50394,#FF04D1);
  border: none;
  border-radius: 2px;
  margin-top: 60px;
  margin-left: 25px;
  color: white;
  outline: none;
  margin-bottom: 25px;
}
button:hover{
  opacity: 0.8;
}

@media(max-width: 600px){
  img{
    width: 100%;
  }
}